html {
  height: 100%;
}

body {
  background: linear-gradient(#223252, #234d7e);
  font-family: sans-serif;
}

header {
  margin-bottom: 3%;
}

main {
  margin-top: 10% !important;
  margin: 25px;
}


h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #f6f6f6;
}

.form-label {
  color: white;
}

.form-check-label {
  color: white;
}
