.navbar { 
    background: linear-gradient(#141e30, #3470b4);
}

.navbar-brand {
    color: white 
}

#HealthTitle {
    color: rgb(3, 4, 22);
}

#HealthTitle:hover {
    color: rgb(4, 4, 56);
    animation-delay: 1s
}