html {
  height: 100%;
}

body {
  text-align: center !important;
  background: linear-gradient(#223252, #234d7e);
  font-family: sans-serif;
}

header {
  margin-bottom: 3%;
}

.titleForm {
  color: white;
}

#mainForm {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.form-control { 
  color: rgb(0, 183, 255)
}

#floatingInput{
  margin-bottom: 10px;
}

#passWordHelp {
  margin-bottom: 20px;
}

.lembrar {
  color: white;
}